footer{
  position: relative;
  background-color: #483D30;
  justify-content: center;
  align-content: center;
  text-align: center;
  max-width:1200vw;
  width:100%;
  height:auto;
  padding-bottom:20px;
  color:white;

}

.footer-group  h3{
  font-size:1em;
}

.footer-group {
  padding-top:20px;
  width:100%;
  height:auto;
}
.footer-group img{
  width:100px;
  height:auto;
  align-items: left;
}

.footer-nav li{
  color:white;
  justify-content: center;
  max-width:400px;
  width:100% auto;
  font-size: 0.9em;
}

footer a {
  color:white;
  text-decoration: none;  
  margin:10px ;
  font-size: 0.8em;
}

footer p{
  justify-content: center;
  align-content: center;
  text-align: center;
  color:white;
  font-size:0.8em;
  line-height:1.4em;
}

.footer-group{
  position:relative;
  text-align: center;
  margin:0 auto;
  color:white;
}

.footer-nav ul {
display:flex;
flex-direction: row;
flex: 1;
justify-content: space-between;
max-width:400px;
width: 100% auto;
padding: 10px 40px 0 40px;
margin: 0 auto;
list-style: none;
background-color: transparent;
color:rgb(201, 201, 201);
font-size:1.3em;
}

.footer-nav li:last-child{
border-right: none;
}

.footer-nav li{
border-right: 1px solid white;
}

.social {
    color:white;
    justify-content:left;
    margin: 10px auto;
    padding: 10px auto;
    max-width:400px;
    width:100% auto;
    font-size: 0.9em;
 }

.social img {
  width: 40px;
  height:40px;
  margin:10px auto;
}



.email{
  background-color:rgba(255, 255, 255, 0.322);
  border-style: 2px solid white;
  border-radius: 4px;
  width:180px;
  height:30px;
}

.submit{
  background-color:rgba(255, 255, 255, 0.322);
  border-style: 2px solid white;
  width:50px;
  height:30px;
  color:white;
}