//Mixins 

//MC 
// Center an element horizontaly using 
// margin auto...

@mixin mc{ 
    margin: {
        left: auto;
        right: auto;
        top: 0;
        bottom: 0;
    }         
}

//Media Query Mixin

@mixin mq ($w){
    @media (min-width: $w){
        @content; 
        
    }
}
    
